<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.project.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.project.entity.Comment">
        <id column="id" property="id" />
        <result column="commenter_id" property="commenterId" />
        <result column="subject_id" property="subjectId" />
        <result column="content" property="content" />
        <result column="likes" property="likes" />
    </resultMap>

</mapper>
