<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.project.mapper.SmallTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.project.entity.SmallTask">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="reward_points" property="rewardPoints" />
        <result column="time_cycle" property="timeCycle" />
        <result column="is_importance" property="isImportance" />
        <result column="is_accomplish" property="isAccomplish" />
        <result column="detail" property="detail" />
        <result column="is_remind" property="isRemind" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, reward_points, time_cycle, is_importance, is_accomplish, detail, is_remind
    </sql>

</mapper>
